*, *::after, *::before {
  box-sizing:border-box; 

}

* {
	margin: 0;
	padding: 0;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 200;
  font-style: normal;
}

:root {
    --color-text:#ffffff;
    --color-text2: #321E1D;
    --color-background: #FAF4F1;
    --color-background2: #321E1D;
}
/* Algemeen css */
body {
	background-color:var(--color-background);
  color: var(--color-text2);
}

h1, h2, h3 {
   font-family: "Shadows Into Light", cursive;
   color: var(--color-text2);
}
/* Header */
header {
  background-color: var(--color-background2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
}

header > button {
  order:-1;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  translate:-100% 0%;
  transition:translate .3s; 
}
 nav.toonMenu {
  translate:0% 0%;
 }

/* Main */
/* Section 1 */
section:nth-of-type(1) img {
  width: 100%;
  height: auto;
  align-self:stretch;
  object-fit:cover;
}

/* Section 2 */
section:nth-of-type(2) ul{
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 2em;
  grid-template-columns:1fr;
}

section:nth-of-type(2) img {
  width: 20em;
  height: auto;
  align-self: stretc;
  object-fit: cover;
  display: block;
}

section:nth-of-type(2) a {
  text-decoration: none;
  color: var(--color-text2);
}


/* Section 3 */

section:nth-of-type(3) {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

section:nth-of-type(3) ul {
    display: flex;
    list-style: none;
    gap: 2em;
}


section:nth-of-type(3) img { 
      height: auto;
      width: 20em; 
      justify-content: center;
      align-items: center;
      
    }

/* Section 4 */
section:nth-of-type(4) ul{
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 2em;
  grid-template-columns:1fr;
}

section:nth-of-type(4) img {
  width: 20em;
  height: auto;
  align-self: stretc;
  object-fit: cover;
  display: block;
}

section:nth-of-type(4) a {
  background-color:var(--color-background2);
  color: var(--color-text);
  text-decoration: none;
  padding: 1em 3em 1em 3em;
  border-radius: 2em 2em 2em 2em;
}

/* Section 5 */
.textscroll {
  display: flex;
  gap: 2rem;
  background-color:var(--color-background2);
  overflow: hidden;
}

section:nth-of-type(5) ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:2rem;
    align-items: center;
    flex-shrink: 0;
    color: var(--color-text);
    min-width: 100%;
    animation: scroll 20s linear infinite;
  }
/* Section 6 */
/* Section 7 */
 section:nth-of-type(7) img {
    height: auto;
    width: 100%;
  }
/* Section 8 */

iframe {
  width: 100%;
}
/* Footer */
footer a {
    text-decoration: none;
}

footer {
  background-color: #321E1D;
  color: var(--color-text);
  padding-top: 5rem;
}

/* Media queries */
@media (min-width:38em) {
  header > button {
    display:none;
  }
  nav {
    position: static;
    translate:unset;
    padding:0;
  }
  nav button {
    display:none;
  }
  nav ul {
    display: flex;
    gap:1em;
  }
  nav a {
    flex-direction: column;
    border:none;
  }

  header > a:last-of-type {
    flex-direction: column;
  }

  img {
    align-self: center;
  }
}

@media (min-width:57em) {
  header > a:last-of-type,
  nav a {
    flex-direction: row;
  }

  section:nth-of-type(2) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
    section:nth-of-type(4) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (prefers-color-scheme: dark){
  :root {
    --color-background:var(--color-background2);
    --color-text2:var(--color-text);
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
/* Bronnen 
 1  https://www.youtube.com/watch?v=bd9MLIb3DCg&t=274s
*/
