/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 

}

* {
	margin: 0;
	padding: 0;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 200;
  font-style: normal;
}

:root {
	--color-text:#ffffff;
	--color-background:#FAF4F1;
	--font-body: "Helvetica Neue", Arial, sans-serif; 
}

h2 {
	font-family: "Shadows Into Light", cursive;
}

body {
	background-color:var(--color-background);
}
p {
	font-family: var(--font-body);
}


header {
	background-color: #321E1D;
	color: var(--color-text);
	display: flex;
}
.scroll-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.scroll-content {
    display: flex;
    gap: 5%;
}

  .item { 
      height: auto;
      width: 15em;
      margin-right: 5%; 
      justify-content: center;
      align-items: center;
    }

section:nth-of-type(7) {
    background-color: #321E1D; 
}

section:nth-of-type(1) img {
  width: 100%;
  height: auto;
  object-fit: contain;
}



footer a {
    text-decoration: none;
}

footer {
  background-color: #321E1D;
  color: var(--color-text);
  padding-top: 5rem;
}
