*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 200;
  font-style: normal;
}

:root {
  --color-text: #ffffff;
  --color-text2: #321e1d;
  --color-background: #faf4f1;
  --color-background2: #321e1d;
  --color2: #321e1d;
  --Color: #faf4f1;
}
/* Algemeen css */
body {
  background-color: var(--color-background);
  color: var(--color-text2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

h1,
h2 {
  font-family: "Shadows Into Light", cursive;
  color: var(--color-text2);
  font-size: 2rem;
  font-weight: 100;
}

.visualhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  
}
/* Header */
header {
  background-color: var(--color-background2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1em 1em 1em 1em;
  z-index: 4;
}

header ul {
  list-style: none;
}

header li:hover {
  text-decoration: underline;
  transition: 0.1s;
}
header > button {
  order: -1;
  background: transparent;
  text-decoration: none;
  border: none;
}

button i {
  color: var(--Color);
}

header .sluit {
  background: transparent;
  text-decoration: none;
  border: none;
  padding: 1em;
}

header img {
  width: 35%;
  height: auto;
}

nav {
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  translate: -100% 0%;
  transition: translate 0.3s;
  text-decoration: none;
  inset: 0;
  background-color: var(--color-background2);
  padding-left: 2em;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;
  font-size: 2em;
  font-weight: 100;
}
nav.toonMenu {
  translate: 0% 0%;
}

.shoppingcart {
  background: transparent;
  border: none;
  color: var(--Color);
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: var(--color-background2);
  padding: 1em;
  list-style: none;
  margin: 0;
  top: 100%;
  left: 0;
  z-index: 10;
}

.dropdowncontent li a {
  display: block;
  color: var(--color-text);
  padding: 0.5em 1em;
  text-decoration: none;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

/* Main */
/* Section 1 */
section:nth-of-type(1) img {
  width: 100%;
  height: auto;
  align-self: stretch;
  object-fit: cover;
}

/* Section 2 */

section:nth-of-type(2) {
  padding: 2em;
}
section:nth-of-type(2) ul {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 2em;
  grid-template-columns: 1fr;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

section:nth-of-type(2) .notactive {
  opacity: 50%;
}

section:nth-of-type(2) img {
  width: 20em;
  height: auto;
  align-self: stretch;
  object-fit: cover;
  display: block;
  margin-inline: auto;
}
section:nth-of-type(2) li {
  text-align: center;
}
section:nth-of-type(2) a {
  text-decoration: none;
  color: var(--color-text2);
}

section:nth-of-type(2) h3 {
  padding-top: 1rem;
  font-weight: 100;
  font-size: 1em;
}

section:nth-of-type(2) button {
  font-family: "Shadows Into Light", cursive;
  font-weight: 100;
  font-size: 2rem;
  background: transparent;
  text-decoration: none;
  border: none;
  padding-right: 0.5em;
}

/* Section 3 */

section:nth-of-type(3) {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 2em;
  margin-bottom: 2em;
}

section:nth-of-type(3) ul {
  display: flex;
  list-style: none;
  gap: 2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

section:nth-of-type(3) img {
  height: auto;
  width: 20em;
}

section:nth-of-type(3) li {
  text-align: center;
}

section:nth-of-type(3) h3 {
  padding-top: 1rem;
  font-weight: 100;
  font-size: 1em;
}

/* Section 4 */

section:nth-of-type(4) ul {
  display: grid;
  margin: 0;
  padding-bottom: 1em;
  list-style: none;
  gap: 2em;
  grid-template-columns: 1fr;
}

section:nth-of-type(4) img {
  width: 20em;
  height: auto;
  align-self: stretch;
  object-fit: cover;
  display: block;
  margin-inline: auto;
}

section:nth-of-type(4) a {
  background-color: var(--color-background2);
  color: var(--color-text);
  text-decoration: none;
  padding: 1em 3em 1em 3em;
  border-radius: 2em 2em 2em 2em;
}

section:nth-of-type(4) li {
  text-align: center;
}

/* Section 5 */
.textscroll {
  display: flex;
  gap: 2rem;
  background-color: var(--color-background2);
  overflow: hidden;
  margin-top: 2em;
}

.textscroll li {
  font-size: 1rem;
}

section:nth-of-type(5) ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  flex-shrink: 0;
  color: var(--color-text);
  min-width: 100%;
  animation: scroll 20s linear infinite;
  padding: 1em 1em;
}
/* Section 6 & 9 */

section:nth-of-type(6),
section:nth-of-type(9) {
  text-align: center;
  padding: 2rem 0.5rem 2rem 0.5rem;
}
/* Section 7 */
section:nth-of-type(7) img {
  height: auto;
  width: 100%;
}
/* Section 8 */
iframe {
  width: 100%;
}
/* Section 9 */
section:nth-of-type(9) {
  background-color: var(--color-background2);
  color: var(--color-text);
}
section:nth-of-type(9) h2 {
  color: var(--color-text);
}
/* Pagina 2 */

.landing {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2em;
}

.links,
.rechts {
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}
.links img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.rechts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.rechts span {
  color: green;
}
.rechts button {
  background-color: transparent;
  border-radius: 2em;
  color: var(--color-textt);
  border: 1px solid var(--color2);
  padding: 1em 2.5em;
  cursor: pointer;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttons .active {
  border: 3px solid var(--color2);
}

.buttons .soldout {
  text-decoration: line-through;
  opacity: 50%;
}
.rechts .cart {
  background-color: var(--color2);
  width: 50%;
  color: var(--color-text);
}

.rechts .shop {
  background-color: blueviolet;
  color: var(--color-text);
  border: none;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 2em;
  color: var(--color-textt);
  border: 1px solid var(--Color);
  padding: 1em 2.5em;
  cursor: pointer;
  text-transform: uppercase;
  width: 30%;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: larger;
  color: var(--color-textt);
}

/* Footer */
footer a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-background2);
  color: var(--color-text);
  align-items: center;
  padding: 1rem 2rem;
}

footer p {
  margin: 0;
  text-align: center;
  flex: 1 1 100%;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--color-text);
}

/* Media queries */
@media (min-width: 38em) {
  header > button.menu {
    display: none;
  }
  nav {
    position: static;
    translate: unset;
    padding: 0;
  }
  nav button {
    display: none;
  }
  nav ul {
    display: flex;
    gap: 1em;
  }
  nav a {
    flex-direction: column;
    border: none;
  }

  header > a:last-of-type {
    flex-direction: column;
  }

  img {
    align-self: center;
  }
}

/* Desktop */

@media (min-width: 57em) {
  header > a:last-of-type,
  nav a {
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
  }
  header {
    padding: 2em 2em 2em 2em;
  }

  header img {
    width: 10%;
    height: auto;
  }
  section:nth-of-type(2) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  section:nth-of-type(4) ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .textscroll li {
    font-size: 2rem;
  }
  .landing {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .links {
    max-width: 50vw;
  }
  .rechts {
    max-width: 50vw;
  }

  section:nth-of-type(6),
  section:nth-of-type(9) {
    padding: 5rem 2rem 5rem 2rem;
  }

  h2 {
    font-size: 3em;
  }
  section:nth-of-type(2) img {
    width: 25em;
  }

  section:nth-of-type(3) ul {
    gap: 3em;
  }
  section:nth-of-type(3) img {
    width: 30em;
  }

  nav {
    position: static;
    translate: unset;
    inset: auto;
    background: transparent;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background2);
    --color-text2: var(--color-text);
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
/* Bronnen 
 1  https://www.youtube.com/watch?v=bd9MLIb3DCg&t=274s
 2  https://www.freecodecamp.org/news/dot-symbol-bullet-point-in-html-unicode/
 3  https://www.youtube.com/watch?v=uliYkHK3pKg 
 4  ChatGPT image change on hover: prompt: "hoe doe ik image change on hover met javascript"
 5  Carrousel google: " hoe maak je een simpele scroll carrousel"
 6  Icons: fontawesome
 7  https://www.a11yproject.com/posts/how-to-hide-content/

*/
